@page "/"
@using RaceStrategyApp.Components

<div class="container-sm shadow p-3 mb-5 bg-body rounded">
    <Navbar PageUri="/"></Navbar>
    <PageTitle>Sim Racing Strategy - Fuel Calculator</PageTitle>


    <h1>Fuel Calculator</h1>

    <FuelCalculatorForm></FuelCalculatorForm>

</div>
