@page "/stint-calculator"
@using RaceStrategyApp.Components

<div class="container-sm shadow p-3 mb-5 bg-body rounded">

    <Navbar PageUri="/stint-calculator"></Navbar>
    <PageTitle>Sim Racing Strategy - Stint Calculator</PageTitle>


    <h1>Stint Calculator</h1>

    <StintCalculatorForm></StintCalculatorForm>

</div>
