@inherits LayoutComponentBase
<div class="page">
    <main class="container-sm shadow p-3 mb-5 bg-body rounded">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
